
body {
    background-color: rgb(176, 223, 255);
}
h1 {
    font-size: 100;
}
h1{
    text-align: center;
}
h1{
    font-family: "Monserrat", sans-serif;
    font-style: italic; 
     font-size: 50px;
    color:#23518c;
    margin-block: 21px;
    }
header{
    background-color:#5ab9f0d2;
}
div{
    text-align: center;
    font-style: italic;
}
.intro{
    font-style: "Monserrat", sans-serif;
    margin-top: 25px;
    font-size: 20px;
    text-align: center;
    
}
img{
    justify-content: center;
    width: 650px;
    height: 550px;
}
h3,h4,h5{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-decoration: underline;
}
p{
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-style: italic;
}
.trama-genero
{
    font-style: italic;
    margin: auto;
    font-style: "Monserrat", sans-serif;
    width: 600px;
    margin-top: 35px;
}
.escenaiconica{
text-align: center;
}
.escena-iconica{
    width: 420px;
    height: 405px;
    margin-top: 25px;
}
.footer-texto{
    margin-top: 50px;
    display: inline-block;
    margin-right: 50px;
    font-family:"Monserrat", sans-serif;
    font-size: 16px;
    margin-block: 21px;
    font-style: italic;
    color: black;
  
  }
  footer{
   text-align: center;
    background-color: #5ab9f0d2;
    margin-top: 30px;
    width: 100%;
   
  }